
.panel{
	
}

.page-header{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
	@include alpha-background-color(rgba($accent, 0.5), white);
	
	.main-logo{
		
		img{
			width: 100px;
		}
	}
	
	@media only screen and (min-width: 48.063em) {
		
		.main-logo{
			margin-left: 2rem;
			
			img{
				width: 120px;
			}
		}
	}
}

.hero--panel{
	height: 350px;
	width: 100%;
	@include back-size(cover);
	background-position: center center;
	position: relative;
	
	h1{
		font-family: $header-font;
		color: $white;
		margin: 6rem 0 0 0;
		max-width: 200px;
		line-height: 1;
		font-size: 1.6rem;
	}
	
	p{
		color: #ffffff;
    margin: 1rem 0;
    max-width: 200px;
    font-size: 1.2rem;
    line-height: 1;
	}
	
	.btn-more{
		color: $white;
		font-style: italic;
	}
	
	.angle{
		position: absolute;
		bottom: 0;
		left: 0;
		display: none;
	}
	
	@media only screen and (min-width: 40.063em) {
		
		height: 380px;
		
		h1{
			max-width: 300px;
			font-size: 2.2rem;
		}
		
		p{
			max-width: 280px;
			font-size: 1.3rem;
		}
	}
	
	@media only screen and (min-width: 48.063em) {
		
		height: 550px;
		
		h1{
			max-width: 380px;
			font-size: 2.8rem;
			margin-top: 9rem;
			margin-left: 2rem;
		}
		
		p{
			max-width: 330px;
			margin-left: 2rem;
			font-size: 1.3rem;
		}
		
		.btn-more{
			background: url(../images/general/down-arrow.png) center bottom no-repeat;
			margin-left: 2rem;
			height: 75px;
	    display: inline-block;
	    background-size: 40px;
		}
			
		.angle{
			display: block;	
		}
	}
	
	@media only screen and (min-width: 64.063em) {
			
		height: 650px;
		
		h1{
			max-width: 460px;
			font-size: 3.4rem;
		}
		
		p{
			max-width: 330px;
			font-size: 1.4rem;
			line-height: 1.2;
		}
		
		.btn-more{
			font-size: 1.4rem;
			background-size: 50px;
			height: 95px;
		}
	}
}

.intro--panel{
	
	h2, h3{
		text-align: center;
		font-size: 1rem;
		margin-bottom: 40px;
		@include border-below;
	}
	
	p{
		font-size: 1.2rem;
	}
	
	@media only screen and (min-width: 40.063em) {
		
		h2, h3{
			font-size: 1.2rem;
			margin-bottom: 40px;
		}
		
		p{
			font-size: 1.3rem;
			
			&.first{
				
			}
		}
		
		.text-col p:first-of-type{
			margin-top: 2em;
		}
	}
	
	@media only screen and (min-width: 48.063em) {
		
		h2{
			font-size: 1.4rem;
			margin-top: 0;
			margin-bottom: 70px;
		}
		
		h3{
			margin-top: 2em;
		}
		
		p{
			font-size: 1.3rem;
		}
	}
	
	@media only screen and (min-width: 64.063em) {
		
		p{
			margin-left: 1em;
			margin-right: 2em; 	
		}
		
		.text-col p:first-of-type{
			margin-top: 4em;
		}
	}
	
	.panel-reasons{
		background: $bg-light;
		
		.reason{
			position: relative;
			padding-left: 1.5rem;
			
			&.reason1{
				
				&:after{
					content: '1';
					font-family: $header-font;
					position: absolute;
					left: 0;
					top: 0;
				}	
			}
			
			&.reason2{
				
				&:after{
					content: '2';
					font-family: $header-font;
					position: absolute;
					left: 0;
					top: 0;
				}
			}
			
			&.reason3{
				
				&:after{
					content: '3';
					font-family: $header-font;
					position: absolute;
					left: 0;
					top: 0;
				}
			}
		}
		
		@media only screen and (min-width: 40.063em) {
			
			padding: 1rem 0;	
		}
		
		@media only screen and (min-width: 48.063em) {
			
			padding: 2rem 0;	
		}
	}
	
	.btn{
		margin-bottom: 2.5rem;
		
		&.btn--pricing{
			background: $alert-sec;
		}
		
		&.btn--video{
			background: $accent;
		}
	}
}

.panel--full--width{
	background: url(../images/general/laptop-sm.jpg) center center no-repeat $bg-light;
	@include back-size(cover);
	width: 100%;
	height: 210px;
	
	@media only screen and (min-width: 48.063em) {
		background: url(../images/general/laptop.jpg) center center no-repeat $bg-light;
		@include back-size(cover);
		height: 350px;
	}
	
	@media only screen and (min-width: 64.063em) {
		height: 500px;
	}
	
	@media only screen and (min-width: 90.063em) {
		height: 550px;
	}
}

.panel--features{
	
	.panel-header{
		
		h3{
			@include border-below;
			margin-bottom: 40px;
		}
		
		p{
			
		}
	}
	
	.feature--block{
		
		h4{
			font-size: 1rem;
			padding-right: 30%;
			@include border-below;
			
			&:after{
				bottom: -12px;
		    left: 0;
		    margin-left: 0;
			}
		}
	}
	
	@media only screen and (min-width: 40.063em) {
		
		.panel-header{
		
			p{
				font-size: 1.2rem;
				max-width: 480px;
				margin-left: auto;
				margin-right: auto;
			}
		}
		
		.feature--block{
			padding-left: 1rem;
			
			h4{
				padding-right: 10%;
			}	
		}
	}
	
	@media only screen and (min-width: 48.063em) {
		
		.panel-header{
			padding: 2rem 0;	
		}
		
		.feature--block{
			padding-left: 1rem;
			
			h4{
				font-size: 1.4rem;
				padding-right: 20%;
			}
			
			p{
				font-size: 1.2rem;
			}
		}
	}
}

.panel--examples{
	background: $accent;
}

.panel--pricing{
	
	.row{
		
		div:nth-child(2){
			.block--pricing{
				border-top: 10px solid $accent;
			}
		}
		div:nth-child(3){
			.block--pricing{
				border-top: 10px solid #e76fbb;
			}
		}
		div:nth-child(4){
			.block--pricing{
				border-top: 10px solid #6fc9e7;
			}
		}
	}
	
	
	.block{
		background: $bg-light;
		
		&.block--pricing{
			min-height: 340px;
			margin-bottom: 1rem;
			text-align: center;
			padding: 1rem 2rem;
			
			&.block--pricing--free{
				border-top: 10px solid #edf34f;
			}
			&.block--pricing--team{
				border-top: 10px solid $accent;
			}
			&.block--pricing--business{
				border-top: 10px solid #e76fbb;
			}
			&.block--pricing--enterprise{
				border-top: 10px solid #6fc9e7;
			}
			
			h6{
				font-size: 1.8rem;
				margin: 1rem 0;
			}
			
			p{
				font-size: 1.2rem;
				margin-top: 0;
			}
			
			.btn-pricing{
				background: $accent;
			}
		}
		
		@media only screen and (min-width: 48.063em) {
			
			&.block--pricing{
				//min-height: 415px;
				padding: 0.5rem;
				
				p{
					font-size: 1.1rem;
				}
			}
		}
	}
	
	.disclaimer{
		margin-top: 0;
	}

	@media only screen and (min-width: 48.063em) {
		
		h4{
			font-size: 1.4rem;
			padding: 1rem 0;
		}
	}
}

.panel--contact{
	
	.gform_wrapper{
		width: 100%;
		
		.gform_body{
			width: 100%;
		}
		
		.gform_footer{
			
			.gform_button{
				background: $accent;
				color: $white;
				text-transform: uppercase;
			}
		}
	
		@media only screen and (min-width: 40.063em) {
			
			.gform_body{
				
				.gform_fields{
					
				}	
			}			
		}
	}
}


/* min-width 641px */
@media only screen and (min-width: 40.063em) {

}

/* min-width 769px */
@media only screen and (min-width: 48.063em) {
	
}

/* min-width 1025px */
@media only screen and (min-width: 64.063em) {
	
}

/* min-width 1441px */
@media only screen and (min-width: 90.063em) {
	
}