/*********************
GENERAL STYLES
*********************/

html{
	
}

body {
	font-family: $body-font;
	color: $text;
	-webkit-font-smoothing: antialiased;
}

img,
a img{
	border: none;
}

img{
	width: 100%;
	height: auto;
}

.btn{
	display: inline-block;
	text-transform: uppercase;
	background: $bg-light;
	color: $white;
	text-decoration: none;
	padding: 0.5rem 1.5rem;
	font-size: 0.8rem;
	@include border-radius(5px);
	
	@media only screen and (min-width: 48.063em) {
		
		padding: 0.8rem 1.8rem;
		font-size: 1rem;
	}
}


@mixin clearfix{
	
	&:after{
		content: '';
		display: table;
		clear: both;
	}
}

@mixin border-below{
	
	position: relative;
		
	&:after{
		content: '';
		width: 80px;
		height: 5px;
		background: $accent;
		position: absolute;
		bottom: -20px;
		left: 50%;
		margin-left: -40px;	
	}
	
	@media only screen and (min-width: 48.063em) {
		
		&:after{
			width: 120px;	
			margin-left: -60px;
		}
	}
}

.panel{
	
	.center{
		text-align: center;
	}
}



/*********************
LAYOUT & GRID STYLES
*********************/

p{
	line-height: 1.3;
}

/*********************
LINK STYLES
*********************/

/*
a, a:visited,
.gen-link{
	color: $link-color;
	text-decoration: underline;
	
	&:hover{
		text-decoration: none;
	}
}
*/

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	font-family: $header-font;
	text-rendering: optimizelegibility;
	font-weight: normal;
}

h1, .h1 {
	font-size: 1.4rem;
}

h2, .h2 {	
	font-size: 1.3rem;
}

h3, .h3 {
	font-size: 1.2rem;
}

h4, .h4 {
	font-size: 1rem;
}

h5, .h5 {
	font-size: 0.95rem;
}






/* min-width 641px */
@media only screen and (min-width: 40.063em) {
	
	h1, .h1 {
	font-size: 1.6rem;
	}
	
	h2, .h2 {	
		font-size: 1.4rem;
	}
	
	h3, .h3 {
		font-size: 1.3rem;
	}
	
	h4, .h4 {
		font-size: 1.2rem;
	}
	
	h5, .h5 {
		font-size: 1.1rem;
	}
}

/* min-width 769px */
@media only screen and (min-width: 48.063em) {
	
}

/* min-width 1025px */
@media only screen and (min-width: 64.063em) {
	
}

/* min-width 1441px */
@media only screen and (min-width: 90.063em) {
	
}